/* Generated waybar colors from theme: dracula */

@define-color accent ;
@define-color background ;
@define-color foreground ;
@define-color selection ;

window {
    background-color: ;
    color: ;
}

button:hover {
    background-color: ;
}

button.focused {
    background-color: ;
    color: ;
}
